  p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 360px;
    margin-left: 53%;
}
    h3 {
    display: inline-flex;
    font-size: 20px;
    
    
}
  .footer-home {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline;
  }

  .bdy{
    /* background-image: linear-gradient(rgba(to right gray white aqua)); */
    background-image: linear-gradient(to right, #AEBCC9, #e8ecf0,#e4e9ec,#d5dbe1, #AEBCC9, #AEBCC9, #e8ecf0,#e4e9ec,#d5dbe1, #AEBCC9
    );
  }
