.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-area{
  background-image: url('./authentication/static/images/image.png');
  height: 550px;
  width: 60%;
  background-size: contain;
  background-repeat: no-repeat;
}
.login-page{
  overflow-x: hidden;
}
.check{
  background-image: linear-gradient(#80D5FA,#a9ddf3,#c2e5f5);
  background-size: contain;
  height: 635px;
}
